<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home - Code Helper</title>
    <link rel="icon" href="/assets/main.png">
    <script src="https://kit.fontawesome.com/6a7bcef4b4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav><a href="https://docs.chelper.tk" class="docs"><div class="book"><i class="fas fa-book"></i></div> API Docs</a><a href="https://discord.gg/aeU4kfyJTf" class="Server"><div class="discord"><i class="fab fa-discord"></i></div> Server</a></nav>
  </body>
</html>